# This workflow will install Python dependencies , analysator and generate verification set to /wrk-kappa/group/spacephysics/analysator/CI/verification_sets/ under new folder based on commit id
name: generate_reference_data

on:
  workflow_dispatch:


jobs:

  turso_system:
        if: github.repository_owner == 'fmihpc'
        runs-on: carrington
        timeout-minutes: 60
        strategy:
          fail-fast: false
          max-parallel: 2
          matrix:
            extras: ["testpackage"]
        steps:
        - uses: actions/checkout@v4
          timeout-minutes: 5
        - name: Install uv
          uses: astral-sh/setup-uv@v6
          timeout-minutes: 5
        - name: Install dependencies
          timeout-minutes: 5
          run: |
            export TMPDIR=$RUNNER_TEMP
            export UV_LINK_MODE=copy
            module purge
            module load Python/3.10.4-GCCcore-11.3.0
            uv venv CI_env
            . CI_env/bin/activate
            uv pip install --editable ../analysator[${{ matrix.extras }}]
        - name: Produce plots
          run: |
            export TMPDIR=$RUNNER_TEMP
            module purge
            module load Python/3.10.4-GCCcore-11.3.0
            . CI_env/bin/activate
            
            DATAPATH="/wrk-kappa/group/spacephysics/analysator/CI/verification_sets/$(git rev-parse HEAD)"
            mkdir $DATAPATH
            touch $DATAPATH/.lockfile
            sbatch -W -o testpackage_gen_verf.txt --job-name gen_verf_plots ./testpackage/run_testpackage_generate_verf_set.sh $DATAPATH > jobid.txt
            cat testpackage_gen_verf.txt
            export JOBID=$(grep -Po '\d+' jobid.txt)
            export SACCT_LOG=$(sacct -j $JOBID -o job,state,node | grep FAILED) 
            if [[ $SACCT_LOG ]]; then
              echo "Some job failed on a node"
              echo $SACCT_LOG 
              exit 1
            fi

            rm $DATAPATH/.lockfile
        - name: Comparing plotted data
          run: |
            export TMPDIR=$RUNNER_TEMP
            module load Python/3.10.4-GCCcore-11.3.0
            . CI_env/bin/activate
            sbatch -W -o "testpackage_compare.txt" ./testpackage/run_compare.sh verf_set > jobid1.txt
            cat testpackage_compare.txt

            export JOBID=$(grep -Po '\d+' jobid1.txt)
            export SACCT_LOG=$(sacct -j $JOBID -o job,state,node | grep FAILED) 
            if [[ $SACCT_LOG ]]; then
              echo "Some job failed on a node, try to take a look at the slurm log."
              echo "$SACCT_LOG" 
              exit 1
            fi
