# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Turso compare selectively images

on:
  push:
    branches: [image_compare]
  pull_request:
    branches: [ master, dev, image_compare]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}


jobs:

  turso_system:
        if: github.repository_owner == 'fmihpc'
        runs-on: carrington
        timeout-minutes: 120
        strategy:
          fail-fast: false
          max-parallel: 2
          matrix:
            extras: ["all"]
        steps:
        - uses: actions/checkout@v4
          timeout-minutes: 5
          with:
            fetch-depth: 0
        - name: Install uv
          uses: astral-sh/setup-uv@v6
          timeout-minutes: 5
        - name: Install dependencies
          timeout-minutes: 60
          run: |
            export TMPDIR=$RUNNER_TEMP
            export UV_LINK_MODE=copy
            module purge
            module load Python/3.10.4-GCCcore-11.3.0
            uv venv CI_env
            . CI_env/bin/activate
            uv pip install --editable ../analysator[${{ matrix.extras }}]
        - name: Produce plots
          id: run_cl
          run: |
            export TMPDIR=$RUNNER_TEMP
            module purge
            module load Python/3.10.4-GCCcore-11.3.0

            export DIFFRESULT=$(python ./testpackage/testpackage_get_diff.py)
            echo "DIFFRESULT=$DIFFRESULT" >> $GITHUB_OUTPUT
            echo "Running $DIFFRESULT"
            sbatch -W -o testpackage_run.txt --job-name gen_plots ./testpackage/run_testpackage_workflow.sh $DIFFRESULT

            cat testpackage_run.txt
            . CI_env/bin/activate
            python ./testpackage/testpackage_get_job_error.py testpackage_run.txt
            
        - name: Comparing plotted data
          run: |
            export TMPDIR=$RUNNER_TEMP
            module load Python/3.10.4-GCCcore-11.3.0
            . CI_env/bin/activate
            sbatch -W -o "testpackage_compare.txt" ./testpackage/run_compare.sh ${{ steps.run_cl.outputs.DIFFRESULT }}
            cat testpackage_compare.txt
            python ./testpackage/testpackage_get_job_error.py testpackage_compare.txt
        - name: scancel dangling job upon cancellation
          if: cancelled()
          run: |
            scancel ${{ steps.run_cl.outputs.SLURM_JOB_ID }}
            
  
